<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceAddress">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_IServiceAddress" />
      </netTcpBinding>
      <ws2007HttpBinding>
        <binding name="ws2007HttpBinding_IServiceAddress" />
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/AdwHost/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAddress"
        contract="ServiceReference1.IServiceAddress" name="BasicHttpBinding_IServiceAddress" />
      <endpoint address="http://localhost:8000/ProductsService/Service.svc"
        binding="ws2007HttpBinding" bindingConfiguration="ws2007HttpBinding_IServiceAddress"
        contract="ServiceReference1.IServiceAddress" name="ws2007HttpBinding_IServiceAddress" />
      <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_IServiceAddress" contract="ServiceReference1.IServiceAddress"
        name="netHttpBinding_IServiceAddress" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>