<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceAddress">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AdwWcfServiceLibrary.ServiceAddress">
        
          <endpoint address="http://localhost:8000/AdwHost/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAddress"
                    name="BasicHttpBinding_IProductsService"
          contract="AdwWcfServiceLibrary.IServiceAddress" />
        

        <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
          bindingConfiguration="" name="netTcpBinding_IProductsService"
          contract="AdwWcfServiceLibrary.IServiceAddress" />
          
        
        <endpoint address="http://localhost:8000/ProductsService/Service.svc"
          binding="ws2007HttpBinding" bindingConfiguration=""
          name="ws2007HttpBinding_IProductsService" contract="AdwWcfServiceLibrary.IServiceAddress" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <connectionStrings>
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/AdwEntityDataModel.csdl|res://*/AdwEntityDataModel.ssdl|res://*/AdwEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=AdventureWorks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>